<!DOCUMENT HTML>
<html>
<head>
	<!-- META -->
	<meta charset="UTF-8">

	<!-- SCRIPTS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../../app/js/base.js"></script>

	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="../../../app/css/layout.css">
	<link rel="stylesheet" type="text/css" href="../../../app/css/base.css">
	<link rel="stylesheet" type="text/css" href="../../../app/css/typography.css">
	<title>{{ title }} | Booking system</title>
</head>
<body>
	<section id="header">{% include 'header.html' %}</section>
	<section id="content-wrapper">{% include 'contenido.html' %}</section>
	<section id="footer">{% include 'footer.html' %}</section>
</body>
</html>